body{
    margin-top: 70px;
    background-image: url('light-grey-terrazzo.png');
  
  }
  .container {
    margin-top: 15px;
    background: rgb(241, 237, 237)
    
  }
  img {
    width: 200px;
    height: 200px;
  
  };
  .h1{
    color: green;
  }
   
  
  
  
  