body {
  /* background-color: rgb(255 255 255); */
  margin-top: 70px;
  background-image: url('light-grey-terrazzo.png');

}
.contact {
  padding: 4%;
  height: 400px;
}
.col-md-12 {
  background: #7eeb9e;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin-top: 1%;
}
.contact-info {
  margin-top: 10%;
}
.contact-info h2 {
  margin-bottom: 4%;
  text-align: center;
  font-family: cursive;
  font-size: 200%;
  font-weight: 800;
  color: red;
  text-align: center;
  
}
.contact-info img {
  margin-bottom: 15%;
}

.col-md-9 {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label {
  font-weight: 600;
}
.contact-form button {
  background: rgb(45 50 242);
  color: rgb(255 255 255);
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus {
  box-shadow: none;
}
footer{
  margin-top: 20px;
}
.fab{
font-size: 4rem;
}
h3{
  text-align: center;
  color: red;
  font-family: cursive;
  font-weight: 600;
}
#contIcon{
  text-align: center;
}
p.contacts{
  color: red;
  margin-top: 5%;

}